ion-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  ion-title {
    flex: 1;
  }
  
  ion-buttons {
    display: flex;
    align-items: center;
  }
  
  ion-tab-button {
    --color: #000000; /* Cambia el color del texto */
  }
  
  /*  mapa */
  #map {
    
    width: 500px; /* Asegúrate de que el mapa ocupe todo el ancho */
    height: 300px;
    margin: 0 auto;
    margin-top: 150px; /* Ajusta este valor para mover el mapa hacia abajo */
  }

.coordenadas{

  background-color: rgb(43, 43, 43);
  margin: 0 auto;
  width:500px;

}

@media (max-width: 500px) {
  #map {
  
    width: 100%; /* Asegúrate de que el mapa ocupe todo el ancho */
    height: 300px;
    margin: 0 auto;
    margin-top: 150px; /* Ajusta este valor para mover el mapa hacia abajo */
  }
  .coordenadas{

    background-color: rgb(43, 43, 43);
    width: 100%;
  
  }
}

  ion-content {
    --background: url('/assets/images/background.png') no-repeat center center;
    --background-size: cover; /* Ajusta esto para el tamaño deseado */
    --background-size: 10000% 10000%; /* Estirará la imagen para cubrir el área del contenido */
  }

  .texto-gps{
    color:white;
  }
  
  