<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botón para regresar a la página anterior -->
    <ion-title>GPS App</ion-title>

    <ion-buttons slot="end">
      <!-- Botón para ir al home -->
      <ion-button (click)="goHome()">Inicio</ion-button>

      <!-- Botón para ir a la página de GPS -->
      <ion-button (click)="goToGps()">GPS</ion-button>

      <!-- Botón para ir al historial -->
      <ion-button (click)="goToHistory()">Historial</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Mapa -->
  <div id="map"></div>

  <!-- Coordenadas -->
  <div class="coordenadas">
    <ion-card-header>
      <ion-card-title class="texto-gps">Coordenadas:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="texto-gps">Latitud: -33.00839</p>
      <p class="texto-gps">Longitud: -71.55164</p>
    </ion-card-content>
  </div>
</ion-content>
