#logo{
  text-align: center
}
#fondo{
  background-image: url('img/background.png');
  height: 100%;
}

#form{
  height: 600px;
  background-color: rgba(14, 13, 13, 0.5);
  padding-top:50px;

}
.boton{

  background-color: red;
  width: 150px;
  margin:0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
}