<app-header></app-header>
<ion-content>
  <div class="fondo">
    <ion-card class="dispositivoConectadoCard">
      <ion-card-header>
        <ion-card-title>Dispositivo conectado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Estado del dispositivo: Conectado</p>
      </ion-card-content>

    </ion-card>

    <ion-button class="logout" expand="block" fill="clear" shape="round"(click)="logout()">
      Cerrar sesión
    </ion-button>
  </div>
  <!-- Cuadro para mostrar "Dispositivo conectado" justo debajo de la barra -->

</ion-content>
